        <div id="intro">
            <img src="/img/logo.png" alt="" style="width:10rem;max-width: calc(100vw - 2rem);margin-top: 5rem;">
            <h1 style="margin: 0;font-size: 4rem;"><%- theme.Intro.name %> </h1>
            <p> <%- theme.Intro.slogan %>
            </p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>